<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        Compose tooling adds these activities to debug APKs for IDE previews and
        test hosts. Keep the classes available to instrumentation while closing
        their otherwise unprotected external launch surface on installed builds.
    -->
    <application>
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            android:exported="false"
            tools:replace="android:exported" />
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="false"
            tools:replace="android:exported" />
    </application>
</manifest>
